{{ range .Pages.ByPublishDate.Reverse }}
<div class="card">
    <div class="columns is-vcentered">
        {{ if .Params.summary_image_enabled }}
        <div class="column is-one-third">
            <div class="card-image">
                <a href="{{ .RelPermalink }}">
                    <img src="{{ .Permalink }}{{ .Params.summary_image }}" alt="image from {{ .Title }}">
                </a>
            </div>
        </div>
        {{ end }}
        {{ if .Params.summary_video_enabled }}
        <div class="column is-one-third">
            <div class="card-image">
                <video controls width="250" poster="{{ .Permalink }}{{ .Params.summary_video_thumbnail }}">
                    <source src="{{ .Permalink }}{{ .Params.summary_video }}" type="{{ .Params.summary_video_type }}">
                </video>
            </div>
        </div>
        {{ end }}        
        <div class="column">
            <div class="card-content">
                <div class="content">
                    <h2>
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </h2>

                    {{ partial "post-above-summary.html" . }}

                    <div class="summary-body">
                        {{ .Summary }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}