[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
brotli = "*"
fonttools = "*"
readability = {ref = "master", git = "https://github.com/andreasvc/readability.git"}
ipdb = "*"
lxml = "*"
pygments = "*"
spacy = "*"
termcolor = "*"
zopfli = "*"

[dev-packages]

[requires]
python_version = "3.9"
