{{ define "main" }}

<h1 class="title is-hidden-mobile">{{ .Title }}</h1>

<div class="index-page">
    {{ with .Site.GetPage "section" "projects" }}
    {{ range where .Pages "Params.enable_project" "==" true }}
    <div class="card">
        <div class="columns is-vcentered">
            {{ if .Params.summary_image_enabled }}
            <div class="column is-one-third">
                <div class="card-image">
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ .Permalink }}{{ .Params.summary_image }}" alt="image from {{ .Title }}">
                    </a>
                </div>
            </div>
            {{ end }}
            <div class="column">
                <div class="card-content">
                    <div class="content">
                        <h2>
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </h2>

                        <div class="summary-body">
                            {{ .Summary }}
                        </div>

                        <br />
                        <p>By the end of this series you will be able to:</p>

                        <ul>
                            {{ range $idx, $item := .Params.learning_objectives }}
                            <li>{{ $item }}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ end }}
    {{ end }}
</div>

{{ end }}