{{ define "newsletter_signup" }}
<script defer src="https://f.convertkit.com/ckjs/ck.5.js"></script>
{{ end }}

{{ define "main" }}

<h1 class="title">{{ .Title }}</h1>

<div class="content">
    {{ if .Params.summary_image }}
    <div>
      <figure>
        <picture>
        {{ if .Params.summary_image_webp }}
        <source srcset="{{ .Params.summary_image_webp }}" type="image/webp">
        {{ end }}
        {{ if .Params.summary_image_width }}
        <img src="{{ .Params.summary_image }}" width="{{ .Params.summary_image_width }}" height="{{ .Params.summary_image_width }}" alt="{{ .Params.summary_image_title }}">
        {{ else }}
        <img src="{{ .Params.summary_image }}" alt="{{ .Params.summary_image_title }}">
        {{ end }}
        </picture>
      </figure>
    </div>
    {{ end }}

    {{ partial "post-above-summary.html" . }}

    <h2 class="summary">Summary</h2>
    <div class="summary-body">
        {{ .Summary }}
        <br/><br/>
        {{ .Params.Objectives | markdownify }}
    </div>

    {{ if .Params.summary_video }}
    <br />
    <div>
        <figure>
            <video class="video-shortcode" preload="metadata" controls poster="{{ .Params.summary_video_thumbnail }}">
                <source src="{{ .Params.summary_video }}" type="{{ .Params.summary_video_type }}">
                There should have been a video here but your browser does not seem
                to support it.
            </video>
        </figure>
      </div>
    {{ end }}

    <div class="tableOfContents">
        {{ .TableOfContents }}
    </div>

    <article>
        {{ .Content }}
    </article>

    <center>
        {{ partial "newsletter-signup.html" . }}
    </center>

    {{ partial "utterances.html" . }}
</div>

{{ end }}
